<header id="header">
  <div class="navbar">
    <a id="logo" href="<%= url_for_lang('/') %>">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <div class="main-nav">
      <ul class="links">
        <li><a href="<%= url_for_lang('guide') %>"><%= _p('menu.guide') %></a></li>
        <li><a href="<%= url_for_lang('references') %>"><%= _p('menu.references') %></a></li>
        <li><a href="<%= url_for_lang('guide/contributing.html') %>"><%= _p('menu.invovled') %></a></li>
        <li class="dropdown">
            <a href="javascript:;"><%= _p('menu.tools') %></a>
            <ul class="dropdown-menu subnav">
              <li>
                <a href="<%= url_for_lang('playground.html') %>">Playground</a>
              </li>
              <li>
                <a href="<%= url_for_lang('guide/tools/toolkit.html') %>">Weex-toolkit</a>
              </li>
              <li>
                <a href="http://dotwe.org" target="_blank">Code Snippets</a>
              </li>
              <li>
                <a href="https://market.dotwe.org" target="_blank">Market</a>
              </li>
              <li>
                <a href="<%= url_for_lang('guide/tools/plugin.html') %>">Weex Language Plugin</a>
              </li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:;"><%= _p('menu.note') %></a>
          <ul class="dropdown-menu subnav">
            <li>
              <a href="<%= url_for_lang('faq.html') %>"><%= _p('menu.faq') %></a>
            </li>
            <li>
              <a href="<%= url_for_lang('releasenote.html') %>"><%= _p('menu.releasenote') %></a>
            </li>
          </ul>
        </li>
        <li><a href="/blog"><%= _p('menu.blog') %></a></li>
      </ul>
      <ul class="info">
        <li><a href="https://github.com/apache/incubator-weex/" target="_blank"><span class="btn-github iconfont icon-github"></span></a></li>
      </ul>
      <ul class="tools">
        <li>
          <%- partial('_partial/search-form', {id_name: 'search-input-header'}) %>
        </li>
        <li>
          <div class="dropdown select-lang">
            <a href="javascript:;" class="dropdown-toggle">
              Language
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pick-lang">
              <li>
                <a href="<%= pick_lang('en') %>" data-lang="en">English</a>
              </li>
              <li>
                <a href="<%= pick_lang('cn') %>" data-lang="zh-cn">中文</a>
              </li>
            </ul>
          </div>
        </li>
        <!--<li></li>-->
      </ul>
    </div>
  </div>
  <div id="mobile-nav">
    <a id="logo" href="<%= url_for_lang('/') %>">
      <img src="//img.alicdn.com/tps/TB1zBLaPXXXXXXeXXXXXXXXXXXX-121-59.svg" />
    </a>
    <a class="btn-menu"><span class="iconfont icon-nav"></span></a>
  </div>
</header>
