<header class="article-header">
  <% if (post.link){ %>
    <h1 itemprop="name">
      <a class="article-title" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= post.title %></a>
    </h1>
  <% } else if (post.title){ %>
    <% if (index){ %>
      <h1 itemprop="name">
        <a class="article-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
      </h1>
    <% } else { %>
      <h1 class="article-title" itemprop="name">
        <%= post.title %>
      </h1>
    <% } %>
  <% } %>
  <time class="article-date" datetime="<%= date_xml(post.date) %>">Updated time: <%= date(post.date, 'DD/MM/YYYY') %></time>
</header>