<%- partial('_partial/head') %>
<body id="<%- page.type ? page.type : page.path.slice(0, -5) %>" class="lang-<%- page.lang %>">
  <% page_type = page.type ? page.type : page.path.slice(0, -5) %>
  <script>
    window.PAGE_TYPE = "<%= page_type %>";
    window.ROOT = "<%= config.root ? config.root : '/' %>"
  </script>
  <%- partial('_partial/header') %>
  <%- partial('_partial/sidebar', {post: page, page_type: page_type}) %>
  <%- body %>
  
  <%- js('js/reqwest.js') %>
  <%- js('js/common.js') %>
  <% if (config.docsearch.enable){ %>    
    <% index_name = page.path.indexOf('cn/') === 0 ? config.docsearch.index_name_cn : config.docsearch.index_name_en %>
    <% api_key = page.path.indexOf('cn/') === 0 ? config.docsearch.api_key_cn : config.docsearch.api_key_en %>
    <%- js('js/docsearch.min.js') %>
    <script type="text/javascript">
    docsearch({
      apiKey: "<%= api_key %>",
      indexName: "<%= index_name %>",
      inputSelector: '#search-input-header',
      algoliaOptions: {
        hitsPerPage: 10
      }
    });
    </script>
  <% } %>
</body>
</html>
